.App-date {
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.App-date__date {
    align-self: center;
    font-size: 2em;
    margin: 0;
    padding-bottom: 0.5em;
}

.App-date__time {
    align-self: center;
    font-size:3em;
    margin: 0;
}